.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-bg-color);
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-list-item {
  margin: 15px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.social-list-link {
  @include flex-center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  fill: var(--icons-fill);
  transition: background-color var(--time) var(--cubic),
    fill var(--time) var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
  }
}

.social-list-item {
  width: 44px;
  height: 44px;
}
