.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */

  .header & {
    display: flex;
    align-items: center;
  }

  .hero & {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
}
